# ===============================
# Maven
# ===============================
/target/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# Spring Boot
# ===============================
*.log
logs/
*.pid

# ===============================
# Eclipse
# ===============================
.classpath
.project
.settings/

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS / System Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Secrets
# ===============================
.env
application-*.yml
application-*.properties

# ===============================
# Build / Temp
# ===============================
*.tmp
*.bak
